
<h1 class="text-center mb-3">{{title}}</h1>
<h4>Contact list</h4>

<ul class="list-group">
  {{#each contacts}}
  <li class="list-group-item">
    {{this.name}}: {{this.phone}}
  </li>
  {{/each}}
</ul>
<br>

<a href="/groups"> Back</a>