# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb://localhost:27017/email_scheduler

############
# SMTP configuration options for the email service
SMTP_HOST=smtp.ethereal.email
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=
# GUI Account Login: https://ethereal.email/login
# View Emails: https://ethereal.email/messages

############
# JWT
# JWT secret key
JWT_SECRET=??*
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=30
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=30
